<%- include('../layout/HeadSection') -%>

<body>
    <%- include('../layout/Header') %>
    <%- include('../pages/HomeMain') %>
    <%- include('../pages/OurProduct') %>
    <%- include('../layout/Footer') %>
</body>